<table>
    <tr>
        <td colspan="21">
            <h3>Order form №
	{{ table.order_number }}</h3>
        </td>
    </tr>
    <tr>
        <td colspan="21">
            <div>Manager: {{user.get_full_name}} Number of the manager: {{user.get_username}}</div>
        </td>
    </tr>
</table>




{% if html %}
{{html|safe}}
{% endif %}</br></br></br>

<table id="info-content">
	<tr>
		<td colspan="7" rowspan="10">
			<div class='info'>
				<span>Total for door units: {{table.total}}</span></br>
				<span>Discount:{{table.sale}}%</span></br>
				<span>Total, including discounts: {{table.total_with_sale}}</span></br>
				<span>Delivery to the warehouse (object) without unloading and bringing to the floor: {{table.delivery}}</span></br>
				<span>Installation per 1 unit:{{table.install}}</span></br>
				<span>Measurements: {{table.measurements}}</span></br>
				<span>Total for services: {{table.poslugy}}</span></br>
				<span>Total for services: {{table.total_ex_vat}}</span></br>
				<span>Prepayment: {{table.prepayment}} %</span> </br>
				<span>Prepayment: {{prepayment_value}}</span> </br>
				<span>Balance: {{table.remainder}}</span></br>
			</div>
		</td>

		<td colspan="7" rowspan="10">
			<div class="info">
				<span>City: {{table.city}}</span></br>
				<span>Customer: {{table.client}}</span></br>
				<span>Order delivery: {{table.delivery_info}}</span></br>
				<span>Contacts: {{table.client_contact}}</span></br>
				<span>E-mail address: {{table.client_email}}</span>
			</div>
		</td>

		<td colspan="7" rowspan="10">
			<div>
				<span>Handle height: 1000 mm from the bottom of the door leaf.</br>
					Space between floor and door leaf: 8 mm.</br>
					Without the cost of handles.</br>
					<span>Production time: 1-4 weeks from the date of approval and prepayment.</span>
					</br>
					<span>Note: </br>{{table.note}}</span>
				</span>
			</div>
		</td>
	</tr>
</table>


